body {
    background-color: #1d2b3a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*  {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     border: none;
     outline: none;
}
.main-content {
      height: 100vh;
      width: 100%;
      display: flex;
      place-content: center;
 
}

.main-content-form {
     width: 20rem;

     padding: 1rem;
     margin-top: 2rem;
     position: relative
} 

input {
     width:  100%;
     height: 1.9rem;
     margin-bottom: 0.3rem;
     font-size: 14pt;
     padding: 0.5rem;
     outline: none;
     border-radius: 3px;
     border: 1px solid transparent;
     transition: all 500ms;
}

.button input:hover {
     transform: scaleY(1.1);
}

input:valid {
      color: #1d2b3a;
}

legend {
   width: 100%;
   text-align: center;
   margin-bottom: 0.2rem;

   font-size: 16pt;
   font-weight: 500;
   padding: 0.9rem;
   border: 1px solid #ccc;
   border-radius: 5px;
   /* box-shadow: 1px 5px 5px #00DF9A; */
   background-color: #00DF9A;
}

.invalidInput {
      border: 1px solid rgb(253, 49, 34);
}

.validInput {
      border: 1px solid transparent;
}